USE [master]
GO
/****** Object:  Database [QUANLYNHANSU]    Script Date: 12/15/2017 9:48:16 AM ******/
CREATE DATABASE [QUANLYNHANSU]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYNHANSU', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\QUANLYNHANSU.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLYNHANSU_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\QUANLYNHANSU_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYNHANSU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYNHANSU]
GO
USE [QUANLYNHANSU]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 12/15/2017 9:48:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[USERNAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
	[TYPE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 12/15/2017 9:48:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[CHUCVUID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CHUCVUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIOITINH]    Script Date: 12/15/2017 9:48:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIOITINH](
	[GIOITINHID] [int] NOT NULL,
	[TEN] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[GIOITINHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOPDONGLAODONG]    Script Date: 12/15/2017 9:48:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONGLAODONG](
	[HOPDONGLAODONGID] [int] IDENTITY(1,1) NOT NULL,
	[NGAYKY] [date] NULL,
	[LOAIHOPDONG] [nvarchar](max) NULL,
	[LUONGID] [int] NULL,
	[NHANVIENID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HOPDONGLAODONGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHENTHUONGKYLUAT]    Script Date: 12/15/2017 9:48:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHENTHUONGKYLUAT](
	[KHENTHUONGKYLUATID] [int] IDENTITY(1,1) NOT NULL,
	[NHANVIENID] [int] NULL,
	[HINHTHUC] [int] NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[THOIGIAN] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[KHENTHUONGKYLUATID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LUONG]    Script Date: 12/15/2017 9:48:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUONG](
	[LUONGID] [int] IDENTITY(1,1) NOT NULL,
	[HESOLUONG] [float] NULL,
	[HESOCHUCVU] [float] NULL,
	[HESOTRACHNHIEN] [float] NULL,
	[HESOPHUCAP] [float] NULL,
	[HESOKHAC] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[LUONGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/15/2017 9:48:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[NHANVIENID] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](max) NOT NULL,
	[BIDANH] [nvarchar](max) NULL,
	[DIACHI] [nvarchar](max) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[MASOTHUE] [nchar](15) NULL,
	[GIOITINH] [int] NULL,
	[SOTKNGANHANG] [nchar](15) NULL,
	[SDT] [nchar](15) NULL,
	[EMAIL] [nvarchar](max) NULL,
	[CHUCVUID] [int] NULL,
	[PHONGBANID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NHANVIENID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 12/15/2017 9:48:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[PHONGBANID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PHONGBANID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUATRINHCONGTAC]    Script Date: 12/15/2017 9:48:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUATRINHCONGTAC](
	[QUATRINHCONGTACID] [int] IDENTITY(1,1) NOT NULL,
	[NHANVIENID] [int] NULL,
	[THOIGIANBATDAU] [date] NULL,
	[THOIGIANKETTHUC] [date] NULL,
	[NOIDUNGCONGTAC] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[QUATRINHCONGTACID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ACCOUNT] ([USERNAME], [PASSWORD], [TYPE]) VALUES (N'Admin', N'1', N'Admin')
INSERT [dbo].[ACCOUNT] ([USERNAME], [PASSWORD], [TYPE]) VALUES (N'User', N'0', N'User')
SET IDENTITY_INSERT [dbo].[CHUCVU] ON 

INSERT [dbo].[CHUCVU] ([CHUCVUID], [TEN]) VALUES (2, N'Tổng giám đốc')
INSERT [dbo].[CHUCVU] ([CHUCVUID], [TEN]) VALUES (3, N'quản lý')
INSERT [dbo].[CHUCVU] ([CHUCVUID], [TEN]) VALUES (4, N'nhân viên')
SET IDENTITY_INSERT [dbo].[CHUCVU] OFF
INSERT [dbo].[GIOITINH] ([GIOITINHID], [TEN]) VALUES (0, N'Nữ')
INSERT [dbo].[GIOITINH] ([GIOITINHID], [TEN]) VALUES (1, N'Nam')
SET IDENTITY_INSERT [dbo].[LUONG] ON 

INSERT [dbo].[LUONG] ([LUONGID], [HESOLUONG], [HESOCHUCVU], [HESOTRACHNHIEN], [HESOPHUCAP], [HESOKHAC]) VALUES (1, 1, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[LUONG] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([NHANVIENID], [HOTEN], [BIDANH], [DIACHI], [NGAYSINH], [MASOTHUE], [GIOITINH], [SOTKNGANHANG], [SDT], [EMAIL], [CHUCVUID], [PHONGBANID]) VALUES (3, N'Phạm Văn B', N'B', N'HA NOI', CAST(N'2017-07-05' AS Date), N'1              ', 1, N'MBBANK         ', N'01643861996    ', N'DIAGRU2510@GMAIL.COM', 3, 4)
INSERT [dbo].[NHANVIEN] ([NHANVIENID], [HOTEN], [BIDANH], [DIACHI], [NGAYSINH], [MASOTHUE], [GIOITINH], [SOTKNGANHANG], [SDT], [EMAIL], [CHUCVUID], [PHONGBANID]) VALUES (11, N'Nguyễn Thị C', N'C', N'HA NOI', CAST(N'2017-07-05' AS Date), N'1              ', 1, N'MBBANK         ', N'01643861996    ', N'DIAGRU2510@GMAIL.COM', 3, 4)
INSERT [dbo].[NHANVIEN] ([NHANVIENID], [HOTEN], [BIDANH], [DIACHI], [NGAYSINH], [MASOTHUE], [GIOITINH], [SOTKNGANHANG], [SDT], [EMAIL], [CHUCVUID], [PHONGBANID]) VALUES (12, N'Nguyễn Văn B', N'BB', N'HA NOI', CAST(N'2017-07-05' AS Date), N'1              ', 1, N'MBBANK         ', N'01643861996    ', N'DIAGRU2510@GMAIL.COM', 3, 4)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[PHONGBAN] ON 

INSERT [dbo].[PHONGBAN] ([PHONGBANID], [TEN]) VALUES (2, N'C350')
INSERT [dbo].[PHONGBAN] ([PHONGBANID], [TEN]) VALUES (3, N'C351')
INSERT [dbo].[PHONGBAN] ([PHONGBANID], [TEN]) VALUES (4, N'C352')
SET IDENTITY_INSERT [dbo].[PHONGBAN] OFF
SET IDENTITY_INSERT [dbo].[QUATRINHCONGTAC] ON 

INSERT [dbo].[QUATRINHCONGTAC] ([QUATRINHCONGTACID], [NHANVIENID], [THOIGIANBATDAU], [THOIGIANKETTHUC], [NOIDUNGCONGTAC]) VALUES (1, 19, CAST(N'2017-02-04' AS Date), CAST(N'2030-11-02' AS Date), N'abc')
INSERT [dbo].[QUATRINHCONGTAC] ([QUATRINHCONGTACID], [NHANVIENID], [THOIGIANBATDAU], [THOIGIANKETTHUC], [NOIDUNGCONGTAC]) VALUES (2, 3, CAST(N'2002-03-03' AS Date), CAST(N'2022-03-01' AS Date), N'xyz')
SET IDENTITY_INSERT [dbo].[QUATRINHCONGTAC] OFF
ALTER TABLE [dbo].[HOPDONGLAODONG]  WITH CHECK ADD FOREIGN KEY([LUONGID])
REFERENCES [dbo].[LUONG] ([LUONGID])
GO
ALTER TABLE [dbo].[KHENTHUONGKYLUAT]  WITH CHECK ADD FOREIGN KEY([NHANVIENID])
REFERENCES [dbo].[NHANVIEN] ([NHANVIENID])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([CHUCVUID])
REFERENCES [dbo].[CHUCVU] ([CHUCVUID])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([PHONGBANID])
REFERENCES [dbo].[PHONGBAN] ([PHONGBANID])
GO
ALTER TABLE [dbo].[QUATRINHCONGTAC]  WITH CHECK ADD FOREIGN KEY([NHANVIENID])
REFERENCES [dbo].[NHANVIEN] ([NHANVIENID])
GO
/****** Object:  StoredProcedure [dbo].[DELETECHUCVU]    Script Date: 12/15/2017 9:48:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[DELETECHUCVU]
	@IDCV INT
	AS
	BEGIN
		DELETE CHUCVU WHERE CHUCVUID = @IDCV
	END

GO
/****** Object:  StoredProcedure [dbo].[DELETEHOPDONGLAODONG]    Script Date: 12/15/2017 9:48:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[DELETEHOPDONGLAODONG]
	@IDHOPDONG INT
	AS
	BEGIN
		DELETE HOPDONGLAODONG WHERE HOPDONGLAODONGID = @IDHOPDONG
	END

GO
/****** Object:  StoredProcedure [dbo].[DELETEKHENTHUONGKYLUAT]    Script Date: 12/15/2017 9:48:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[DELETEKHENTHUONGKYLUAT]
	@IDKTKL INT
	AS
	BEGIN
		DELETE KHENTHUONGKYLUAT WHERE KHENTHUONGKYLUATID = @IDKTKL
	END

GO
/****** Object:  StoredProcedure [dbo].[DELETENHANVIEN]    Script Date: 12/15/2017 9:48:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[DELETENHANVIEN]
	@NHANVIENID INT
	AS
	BEGIN
		DELETE NHANVIEN WHERE NHANVIENID = @NHANVIENID
	END

GO
/****** Object:  StoredProcedure [dbo].[DELETEPHONGBAN]    Script Date: 12/15/2017 9:48:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[DELETEPHONGBAN]
	@IDPB INT
	AS
	BEGIN
		DELETE PHONGBAN WHERE PHONGBANID = @IDPB
	END

GO
/****** Object:  StoredProcedure [dbo].[DELETEQUATRINHCONGTAC]    Script Date: 12/15/2017 9:48:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[DELETEQUATRINHCONGTAC]
	@IDQTCT INT
	AS
	BEGIN
		DELETE QUATRINHCONGTAC WHERE QUATRINHCONGTACID = @IDQTCT
	END

GO
/****** Object:  StoredProcedure [dbo].[INSERTCHUCVU]    Script Date: 12/15/2017 9:48:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTCHUCVU]
	@TENCV NVARCHAR(MAX)
	AS
	BEGIN
		INSERT INTO CHUCVU(TEN) VALUES(@TENCV)
	END

GO
/****** Object:  StoredProcedure [dbo].[INSERTHOPDONGLAODONG]    Script Date: 12/15/2017 9:48:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTHOPDONGLAODONG]
	@IDNV INT,@LOAIHOPDONG NVARCHAR(MAX), @LOAILUONG INT, @NGAYKY DATE
	AS
	BEGIN
		INSERT INTO HOPDONGLAODONG(NHANVIENID, LOAIHOPDONG, LUONGID, NGAYKY) VALUES(@IDNV, @LOAIHOPDONG, @LOAILUONG, @NGAYKY)
	END

GO
/****** Object:  StoredProcedure [dbo].[INSERTKHENTHUONGKYLUAT]    Script Date: 12/15/2017 9:48:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTKHENTHUONGKYLUAT]
	@IDNV INT,  @HINHTHUC INT, @NOIDUNG NVARCHAR(MAX), @THOIGIAN DATE
	AS
	BEGIN
		INSERT INTO KHENTHUONGKYLUAT(NHANVIENID, HINHTHUC, NOIDUNG, THOIGIAN) VALUES(@IDNV, @HINHTHUC, @NOIDUNG, @THOIGIAN)
	END

GO
/****** Object:  StoredProcedure [dbo].[INSERTNHANVIEN]    Script Date: 12/15/2017 9:48:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTNHANVIEN]
	@HOTEN NVARCHAR(MAX), @BIDANH NVARCHAR(MAX), @DIACHI NVARCHAR(MAX), @NGAYSINH DATE, @MASOTHUE NCHAR(15), @GIOITINH INT, @SOTKNGANHANG NCHAR(15), @SDT NCHAR(15), @EMAIL NVARCHAR(MAX), @CHUCVUID INT, @PHONGBANID INT
	AS
	BEGIN
		INSERT INTO NHANVIEN(HOTEN,BIDANH,DIACHI,NGAYSINH,MASOTHUE,GIOITINH,SOTKNGANHANG,SDT,EMAIL,CHUCVUID,PHONGBANID)
		VALUES(@HOTEN,@BIDANH,@DIACHI,@NGAYSINH,@MASOTHUE,@GIOITINH,@SOTKNGANHANG,@SDT,@EMAIL,@CHUCVUID,@PHONGBANID)
	END

GO
/****** Object:  StoredProcedure [dbo].[INSERTPHONGBAN]    Script Date: 12/15/2017 9:48:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTPHONGBAN]
	@TENPB NVARCHAR(MAX)
	AS
	BEGIN
		INSERT INTO PHONGBAN(TEN) VALUES(@TENPB)
	END

GO
/****** Object:  StoredProcedure [dbo].[INSERTQUATRINHCONGTAC]    Script Date: 12/15/2017 9:48:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTQUATRINHCONGTAC]
	@IDNV INT, @TGBATDAU DATE, @TGKETTHUC DATE, @NOIDUNG NVARCHAR(MAX) 
	AS
	BEGIN
		INSERT INTO QUATRINHCONGTAC(NHANVIENID, THOIGIANBATDAU, THOIGIANKETTHUC, NOIDUNGCONGTAC) VALUES(@IDNV, @TGBATDAU, @TGKETTHUC, @NOIDUNG)
	END

GO
/****** Object:  StoredProcedure [dbo].[THONGKE_NVMOI]    Script Date: 12/15/2017 9:48:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THONGKE_NVMOI]
@NGAY DATE
AS
BEGIN
SELECT N.HOTEN, N.GIOITINH, N.CHUCVUID, N.PHONGBANID, C.TEN AS TENCV, P.TEN AS TENPB, G.TEN AS TENGIOITINH 
FROM NHANVIEN N, GIOITINH G, CHUCVU C, PHONGBAN P
WHERE YEAR(@NGAY) - YEAR(N.NGAYSINH) < 55  AND N.CHUCVUID = C.CHUCVUID AND N.GIOITINH = G.GIOITINHID AND N.PHONGBANID = P.PHONGBANID
END

GO
/****** Object:  StoredProcedure [dbo].[UPDATECHUCVU]    Script Date: 12/15/2017 9:48:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[UPDATECHUCVU]
	@IDCV INT, @TENCV NVARCHAR(MAX)
	AS
	BEGIN
		UPDATE CHUCVU SET TEN = @TENCV WHERE CHUCVUID = @IDCV
	END

GO
/****** Object:  StoredProcedure [dbo].[UPDATEHOPDONGLAODONG]    Script Date: 12/15/2017 9:48:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[UPDATEHOPDONGLAODONG]
	@IDHOPDONG INT, @IDNV INT,@LOAIHOPDONG NVARCHAR(MAX), @LOAILUONG INT, @NGAYKY DATE
	AS
	BEGIN
		UPDATE HOPDONGLAODONG SET NHANVIENID = @IDNV, LOAIHOPDONG = @LOAIHOPDONG, LUONGID = @LOAILUONG, NGAYKY = @NGAYKY
		WHERE HOPDONGLAODONGID = @IDHOPDONG
	END

GO
/****** Object:  StoredProcedure [dbo].[UPDATEKHENTHUONGKYLUAT]    Script Date: 12/15/2017 9:48:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[UPDATEKHENTHUONGKYLUAT]
	@IDKTKL INT, @IDNV INT,  @HINHTHUC INT, @NOIDUNG NVARCHAR(MAX), @THOIGIAN DATE
	AS
	BEGIN
		UPDATE KHENTHUONGKYLUAT SET NHANVIENID = @IDNV, HINHTHUC = @HINHTHUC, NOIDUNG = @NOIDUNG, THOIGIAN = @THOIGIAN
		WHERE KHENTHUONGKYLUATID = @IDKTKL
	END

GO
/****** Object:  StoredProcedure [dbo].[UPDATENHANVIEN]    Script Date: 12/15/2017 9:48:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[UPDATENHANVIEN]
	@NHANVIENID INT, @HOTEN NVARCHAR(MAX), @BIDANH NVARCHAR(MAX), @DIACHI NVARCHAR(MAX), @NGAYSINH DATE, @MASOTHUE NCHAR(15), @GIOITINH INT, @SOTKNGANHANG NCHAR(15), @SDT NCHAR(15), @EMAIL NVARCHAR(MAX), @CHUCVUID INT, @PHONGBANID INT
	AS
	BEGIN
		UPDATE NHANVIEN SET HOTEN = @HOTEN, BIDANH = @BIDANH, DIACHI = @DIACHI,
							NGAYSINH = @NGAYSINH, MASOTHUE = @MASOTHUE, GIOITINH = @GIOITINH,
							SOTKNGANHANG = @SOTKNGANHANG, SDT = @SDT, EMAIL = @EMAIL,
							CHUCVUID = @CHUCVUID, PHONGBANID = @PHONGBANID
		WHERE NHANVIENID = @NHANVIENID
	END

GO
/****** Object:  StoredProcedure [dbo].[UPDATEPHONGBAN]    Script Date: 12/15/2017 9:48:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[UPDATEPHONGBAN]
	@IDPB INT, @TENPB NVARCHAR(MAX)
	AS
	BEGIN
		UPDATE PHONGBAN SET TEN = @TENPB WHERE PHONGBANID = @IDPB
	END

GO
/****** Object:  StoredProcedure [dbo].[UPDATEQUATRINHCONGTAC]    Script Date: 12/15/2017 9:48:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[UPDATEQUATRINHCONGTAC]
	@IDQTCT INT, @IDNV INT, @TGBATDAU DATE, @TGKETTHUC DATE, @NOIDUNG NVARCHAR(MAX) 
	AS
	BEGIN
		UPDATE QUATRINHCONGTAC SET NHANVIENID = @IDNV, THOIGIANBATDAU = @TGBATDAU, THOIGIANKETTHUC = @TGKETTHUC, NOIDUNGCONGTAC = @NOIDUNG
		WHERE QUATRINHCONGTACID = @IDQTCT
	END

GO
/****** Object:  StoredProcedure [dbo].[USP_LOGIN]    Script Date: 12/15/2017 9:48:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_LOGIN] 
@username VARCHAR(50) , @password VARCHAR(50)
AS
BEGIN
	SELECT * FROM ACCOUNT WHERE USERNAME = @username AND PASSWORD = @password
END

GO
USE [master]
GO
